/* GENERIC  */

/* TYPOS and IMAGES */


/* CONTAINERS AND NAVBAR */


/*  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;

}
h1 {
    text-align: center;
    font-weight: bold;
    margin: 2em;
}

img {
    width: 250px;
}

a ul {
    text-decoration: none;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    line-height: 2.5;
}

/* NAVBAR */
.navbar {  
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    animation: nav-load 500ms ease-out;
}


.container-links a:hover {
    border-bottom: 2px solid white;
    transition: .3s ease-in-out;
    padding: 10px;
    border-radius: 5px;
}


.container-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.container-links li {
    list-style: none;
}

.container-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {

    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.brand-title {
    font-size: 1.5em;
    margin: .5rem;
}

/* HEADER WITH LOGO */

.scaffo {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;  
    animation: nav-load 500ms ease-out;
}

 img {
   width: 250px;
 }

.header {
    font-weight: bold;
    font-size: 1.5em;
}

/*  FORM */
.whole-form {
    margin-top: 10px;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}

h1 {
    font-weight: bold;
    margin: 0;
    color: #fff;
}

span {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
 
.container-form {
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container form {
    border: 4px solid #ff4b2b;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
    
}
.social-container i {
    margin-left: .75em;
}

.social-container a {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;

}

.form-container input {
    background-color: rgb(32, 32, 32);
    color: white;
    border: 3px solid #ff4b2b;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-container input:focus {
    border: 4px solid green;
}
.form-container textarea:focus {
    border: 4px solid green;
}
.form-container textarea {
    border: 3px solid #ff4b2b;
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    background-color: rgb(32, 32, 32);;
}

button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: trasnform 90s ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline:none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;

}

.sign-up-container {
    left: 0;
    width: 100%;
    z-index: 2;
}





/*  FOOTER  */

footer {

    background-color: rgb(32, 32, 32);
    color: #fff;
    opacity: .95;
    font-size: 1em;
    padding: 1.5em;   

}

.foot h3 {
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

.fonts {
    display: flex;    
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 2em;
}

i:hover::before {
    background-color: #333;
    padding: .25em;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}
.fonts a {
    color: white;
    font-size: 1.35em;
}

i {
    font-size: 25px;
    padding-right: .75em;
    color: white;
}




/* MEDIA QUERIES */
@media(max-width: 440px) {

       .scaffo {   
           display: flex;
           flex-direction: column;
           font-size: .75em;
       }
       .under {
           font-size: 1em;
           font-weight: 600;
       }
   
       .content {
           display: flex;
           flex-direction: column;
           overflow: scroll;
       }
       .grid {
           display: flex;
           flex-direction: column;
       }
       
       footer {
           flex-direction: column;
           font-size: .75em;
       }
   
       .toggle-button {
           display: flex;
           
       }
   
       .container-links {
           display: none;
           width: 100%;
           
       }
       .navbar {
           flex-direction: column;
           align-items: flex-start;
           
       }
   
       .container-links ul {
           position: relative;
           background-color: #333;
           width: 100%;
           flex-direction: column;
       }
   
       .container-links li {
           text-align: center;
       }
   
       .container-links li a {
           padding: .5rem 1rem;
       }
   
       .container-links.active {
           display: flex;
   
       }
       .brand-title {
           font-size: 1.5em;
           padding-top: .75em;
       }
   }
   @keyframes nav-load {
       0%{
           transform: translateY(-100%);
       }
   
       100% {
           transform: translateY(0);
       }
   }